h1 Ranklist

.row
  button.btn.pull-right(ng-click='addProfile()', ng-show='CurrentUser.loggedIn()')
    i.icon-copy
    |  Add Profile

#profiles(ng-grid='profileGridOptions').row

h1 Problem Ranklist

form(ng-submit='filterProblems()')
  .control-group
    label Solved by
    input(type='text', ng-model='filterOptions.include', placeholder='Separate with semicolons')
  .control-group
    label Not solved by
    input(type='text', ng-model='filterOptions.exclude', placeholder='Separate with semicolons')
  button(type='submit') Filter

#problems(ng-grid='problemGridOptions').row
