h1 Ranklist

.row
  button.btn.pull-right(ng-click='addProfile()', ng-show='CurrentUser.loggedIn()')
    i.icon-copy
    |  Add Profile

#profiles(ng-grid='profileGridOptions').row

h1 Problem Ranklist

#problems(ng-grid='problemGridOptions').row
