#login
  form(ng-submit="submit()")
    label
      | Email 
      input(type='email', ng-model='email')
    label
      | Password 
      input(type='password', ng-model='password')
    button(type='submit') Log In
